.user-data {
  order: 2;
}
.checkout-parent input,
.checkout-parent select {
  border: 1px solid #ebebeb;
  outline: none;
  width: 100%;
  padding: 5px;
}

.checkout-parent table thead th {
  background-color: #eee;
}

.checkout-parent button[type="submit"] {
  background-color: #ff9600;
  border: 1px solid #ff9600;
  outline: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}
